/* <style> */
	.span-19 {
		width: auto;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: rgba(222, 222, 222, 0.3);
		font-family: sans-serif;
	}

	.board {
		left: 0;
		height: 90%;
		width: 1000px;
		justify-self: space-between;
		padding-top: 10px;
		padding-left: 10px;
		display: flex;
		overflow-x: auto;
		margin-top: 50px;
	}

	.taskColumn {
		float: left;
		min-width: 270px;
		background-color: lightgray;
		margin-right: 10px;
		/* padding: 15px; */
		border: 1px solid #aaa;
		border-radius: 3px;
		min-height: 500px;
		padding-bottom: 30px;
		/* overflow-y: auto; */

	}

	.taskColumnAdd {
		float: left;
		width: 270px;
		/* background-color: lightgray; */
		margin-right: 10px;
		border: 1px solid #aaa;
		border-radius: 3px;
		/* padding-bottom: 20px; */
		/* min-height: 60px; */
		position: fixed;
		margin-top: -50px;
	}

	.member_list{
		position:absolute;
		margin-right: -500px;
		/* display: inline-block; */
	}
	.taskDiv {
		background-color: white;
		margin: 2px 6px 4px 6px;
		min-height: 1.6rem;
		border-radius: 2px;
		padding: 2px;
		font-size: 0.9rem;
	}

	.taskDiv:hover {
		cursor: pointer;
	}

	.colHdr {
		top: 0;
		height: 1.8rem;
		line-height: 1.8rem;
		position: relative;
		background-color: lightgray;
		margin-bottom: 30px;
		padding: 2px 0px 0px 6px;
	}

	.colFtr {
		bottom: 0;
		height: 1.8rem;
		line-height: 1.8rem;
		position: relative;
		background-color: lightgray;
		margin-top: 20px;
	}

	.dragOver {
		border: 1px dotted rgb(255, 0, 0);
	}

	.taskDivTopMargin {
		margin-top: 20px;
	}

	.hdr {
		height: 50px;
		font-size: 1.9rem;
		color: white;
		line-height: 50px;
		padding-left: 15px;
		background-color: rgb(30, 100, 222);
	}

	.showthis {
		display: none;
	}

	hr {
		border: none;
		border-left: 1px solid hsla(200, 10%, 50%, 100);
		height: 300px;
		width: 1px;
	}